{{>header}}
<!-- BODY -->
     <section style="width: 536px; height: 364px; left: 36px; top: 135px; position: absolute">
            <div
            style="width: 536px; height: 48px; left: 0px; top: 0px; position: absolute; color: #373737; font-size: 34px; font-family: Roboto; font-weight: 500; word-wrap: break-word">
            ¡Hola {{nameUser}}!</div>
            <div style="width: 536px; height: 130px; left: 0px; top: 71px; position: absolute"><span
                    style="color: #373737; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Te
                    informamos que tu pago por Promoción de publicación con ID</span><span
                    style="color: #373737; font-size: 14px; font-family: Roboto; font-weight: 700; line-height: 22.40px; word-wrap: break-word">
                    {{id}}</span><span
                    style="color: #373737; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 22.40px; word-wrap: break-word">,
                    ha sido realizado con éxito. Tú promoción iniciará en la siguiente fecha </span><span
                    style="color: #373737; font-size: 14px; font-family: Roboto; font-weight: 700; line-height: 22.40px; word-wrap: break-word">{{startDate}}
                    - {{endDate}}.<br /></span><span
                    style="color: #373737; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 22.40px; word-wrap: break-word"><br />En
                    caso de necesitar ayuda, por favor comunícate con nuestro Canal de ayuda, nuestro email </span><span
                    style="color: #373737; font-size: 14px; font-family: Roboto; font-weight: 700; line-height: 22.40px; word-wrap: break-word">admintribune@tribune.pe<br /></span>
            </div>
          
            <div style="width: 536px; height: 136px; left: 0px; top: 228px; position: absolute">
                <div
                    style="width: 536px; height: 136px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: -2px 2px 12px -2px rgba(0, 0, 0, 0.25); border-radius: 20px; border: 1px #EBEBEB solid">
                </div>
                <div
                    style="width: 420px; left: 58px; top: 26px; position: absolute; text-align: center; color: #8A00E6; font-size: 14px; font-family: Roboto; font-weight: 700; line-height: 22.40px; word-wrap: break-word">
                    Consejo para evitar fraude</div>
                <div
                    style="width: 489px; height: 47px; left: 23px; top: 62px; position: absolute; color: #373737; font-size: 12px; font-family: Roboto; font-weight: 400; line-height: 19.20px; word-wrap: break-word">
                    ¿Recibiste un mensaje de texto? Presta atención. En Tribune App nunca te solicitaremos información
                    de claves de tus cuentas, ni enviaremos link a los que debas acceder.</div>
            </div>
           
        </section>
<!-- BODY -->
{{>footer}}