{{>header}}
<!-- BODY -->
     
    <section style="
        padding: 40px 20px;
    ">
        <div
            style=" color: #373737; font-size: 34px; font-family: Roboto; font-weight: 500; word-wrap: break-word ; padding: 10px 0px;">
            ¡Hola {{nameUser}}!</div>
        <div style="padding: 10px 0px; text-align: justify"><span
                style="color: #373737; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Te
                informamos que tu pago por Promoción de publicación con ID</span><span
                style="color: #373737; font-size: 14px; font-family: Roboto; font-weight: 700; line-height: 22.40px; word-wrap: break-word">
                {{id}}</span><span
                style="color: #373737; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 22.40px; word-wrap: break-word">,
                ha sido realizado con éxito. Tú promoción iniciará en la siguiente fecha </span><span
                style="color: #373737; font-size: 14px; font-family: Roboto; font-weight: 700; line-height: 22.40px; word-wrap: break-word">{{startDate}}
                - {{endDate}}.<br /></span><span
                style="color: #373737; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 22.40px; word-wrap: break-word"><br />En
                caso de necesitar ayuda, por favor comunícate con nuestro Canal de ayuda, nuestro email </span><span
                style="color: #373737; font-size: 14px; font-family: Roboto; font-weight: 700; line-height: 22.40px; word-wrap: break-word">admintribune@tribune.pe<br /></span>
        </div>
        <div
            style=" height: 136px; max-width: 1000px;  margin-top: 20px;">
            <div
                style=" height: 136px;  background: white; box-shadow: -2px 2px 12px -2px rgba(0, 0, 0, 0.25); border-radius: 20px; border: 1px #EBEBEB solid ;">
                <div
                    style=" text-align: center; color: #8A00E6; font-size: 14px; font-family: Roboto; font-weight: 700; line-height: 22.40px; word-wrap: break-word; padding: 20px 0px 0px 0px">
                    Consejo para evitar fraude</div>
                <div
                    style=" color: #373737; font-size: 12px; font-family: Roboto; font-weight: 400; line-height: 19.20px; word-wrap: break-word; padding: 12px">
                    ¿Recibiste un mensaje de texto? Presta atención. En Tribune App nunca te solicitaremos información
                    de claves de tus cuentas, ni enviaremos link a los que debas acceder.</div>
            </div>

        </div>
    </section>
<!-- BODY -->
{{>footer}}