

   <footer style="padding: 40px 20px; height: 241px;">
        <div style=" background: white; border-top-left-radius: 20px; border-top-right-radius: 20px">
            <div style="">
                <table width="100%">
                    <tr>
                      <td > <div
                        style="   color: #4D4D4D; font-size: 12px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">
                        Tribune App versión {{versionApp}}
                    </div></td>
                      <td > <div style="text-align: right;">
                        <span
                            style="color: #4D4D4D; font-size: 12px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Copyright
                            © 2023 San Isidro Perú </span>
                        <span
                            style="color: #8A00E6; font-size: 12px; font-family: Roboto; font-weight: 500; line-height: 24px; word-wrap: break-word">tribune.com</span>
                    </div></td>
                    </tr>
                  </table>
                  
               
               

            </div>

            <div style=" height: 0px; border: 0.50px #D6D5D6 solid ; margin: 20px 0px"></div>

            <div
                style="  text-align: center; color: #373737; font-size: 12px; font-family: Roboto; font-weight: 700; line-height: 19.20px; letter-spacing: 0.48px; word-wrap: break-word; padding: 0px 0px 5px 0px">
                CONSEJOS PARA EVITAR FRAUDES</div>
            <div
                style=" color: #373737; font-size: 9px; font-family: Roboto; font-weight: 400; line-height: 14.40px; word-wrap: break-word">
                1. Tribune app nunca te pedirá confirmar tus datos personales o datos de tu tarjeta a través de un
                correo electrónico.<br />2. Tribune app nunca te solicitará información confidencial de tu usuario,
                tarjetas, claves, preguntas de seguridad, a través de ningún medio como: Correos electrónicos, SMS,
                llamadas telefónicas, Redes Sociales. Si te sucede algo similar, no facilites la información y repórtalo
                de inmediato a nuestro canales de contacto<br />3. Verifica siempre que la URL de la página de tribune
                app disponga del candado de seguridad que la identifica como sitio seguro.</div>

        </div>

    </footer>



</body>

</html>

<!-- FOOTER -->