<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <title></title>
</head>

<body style="width: 600px; height: 892px; position: relative; background: white">   
        <header style="width: 600px; height: 81px; left: 0px; top: 0px; position: absolute; background: #E54B4D">
            <div style="width: 96px; height: 22.84px; left: 21px; top: 26.95px; position: absolute">
                <div style="width: 96px; height: 22.84px; left: 0px; top: 0px; position: absolute ;color: white;">
                    TRIBUNE
                </div>

            </div>
            <div
                style="width: 428px; height: 89px; left: 202px; top: 0px; position: absolute; color: white; font-size: 23px; font-family: Roboto; font-weight: 500; line-height: 67.6px; word-wrap: break-word">
                Confirmación de Inicio de Promoción
            </div>
        </header>


